<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>267997855255-njecbnj39uvf8sp42pi3bp1m2o9e8or3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.267997855255-njecbnj39uvf8sp42pi3bp1m2o9e8or3</string>
	<key>API_KEY</key>
	<string>AIzaSyDeW8jCVpFYiUYClAJxYB3zrIU73R55MU0</string>
	<key>GCM_SENDER_ID</key>
	<string>267997855255</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spalospeludosapp</string>
	<key>PROJECT_ID</key>
	<string>spalospeludos</string>
	<key>STORAGE_BUCKET</key>
	<string>spalospeludos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:267997855255:ios:396350f18505699a2a6652</string>
	<key>DATABASE_URL</key>
	<string>https://spalospeludos.firebaseio.com</string>
</dict>
</plist>