
@font-face{
  font-family: cursiva;
  src: url(./assets/fonts/tipografia.ttf);
}
body{
  margin:0;
}
.App-header{
  padding-top: 100px;
  background-color: #DAECF6;
  width: 100%;
}
.navTop{
  color: #3A3CAD;
  background-color: transparent;
}
.navDown{
  background-color: #3A3CAD;
}
#texto-bienvenida{
  font-size: 40;
  font-weight: bold;
  font-style: italic;
}
.about{
text-align: center;
}
#titulo-top{
  font-family: cursiva;
  color: #5D5EB0;
  font-size: 32px;
  font-weight: bold;
}
#titulo-down{
  font-family: cursiva;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
}
.navButton{
  color: #fff;
}
.inactive {
  color: #fff;
  text-decoration: none;
}

.active {
  color: red;
  text-decoration: none;
}
img{
  width: 100%;
}

.btn-primary {
  color: #fff;
  background-color: #5D5EB0;
  border-color: #5D5EB0
}
#spa-info{
  font-family: cursiva;
  font-weight: bold;
  color: #5D5EB0;
  font-size: 42px;
}
#servicios{
  /*background-image:
  linear-gradient(rgba(93, 94, 176,0.5), rgba(93, 94, 176,0.5)), url(https://wallpaperaccess.com/full/1403604.jpg);*/
  background-color: #3A3CAD;
  background-repeat: no-repeat;
  background-size: cover;
}
#servicios-titulo{
  color: white;
}
#service-card{
  background-image: url(https://image.shutterstock.com/image-photo/woman-giving-body-massage-dog-260nw-1141813634.jpg);
  background-size: cover;
}
#map{
  width:"600"; 
  height:"450"; 
  border:0;
}
ul{
  list-style-type: none;
}
li{
  text-decoration: none;
}
#texto-despedida{
  font-weight: bold;
  font-style: italic;
  color: #5D5EB0;
  font-size: 16px;
}
.footer li{
  color: #3A3CAD;
  font-style: italic;
}
.titulo-footer{
  font-weight: bold;

}
#marca{
  color: grey;
}
a{
  text-decoration: none;
}